* {
	font-size:13px;
	font-family: "JetBrainsMono Nerd Font", monospace;
}
window#waybar{
	all:unset;
}
.modules-left {
	padding:5px 5px;
	margin: 2 5;
	border-radius:10px;
	background: alpha(#000000,.6);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-center {
	padding:5px 5px;
	margin: 2 5;
	border-radius:10px;
	background: alpha(#000000,.6);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
.modules-right {
	padding:5px 5px;
	margin: 2 5;
	border-radius:10px;
	background: alpha(#000000,.6);
	box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}
tooltip {
	background:#000000;
	color: #ffffff;
}
#clock:hover, #bluetooth:hover,#network:hover,#battery:hover {
	transition: all .3s ease;
	color:#ffffff;
}

#clock{
	padding: 0px 5px;
	color:#ffffff;
	transition: all .3s ease;
}

#mpris{
	padding: 0px 5px;
	color:#ffffff;
	transition: all .3s ease;
}

#tags {
	padding: 0px 5px;
}
#tags button {
  all: unset;
  /* margin: 2px 3px; */
  border-radius: 5px;
  background-color: rgba(80, 80, 100, 0);
  color: rgba(100, 100, 100, 0.6);
  margin: 1px 1px; /* acts like gap */
  min-width: 22px;
}

#tags button.occupied {
	color: #a8bAf2;
	border: none;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#tags button.focused {
	color: #ffffff;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

/* Urgent (overrides others) */
#tags button.urgent {
  background-color: #7094D7;
  color: #1e1e2e;
}

#bluetooth{
	padding: 0px 5px;
	transition: all .3s ease;
	color:#ffffff;

}
#network{
	padding: 0px 5px;
	transition: all .3s ease;
	color:#ffffff;

}
#battery{
	padding: 0px 5px;
	transition: all .3s ease;
	color:#ffffff;
}
#battery.charging {
	color: #26A65B;
}

#battery.warning:not(.charging) {
	color: #ffbe61;
}

#battery.critical:not(.charging) {
	color: #f53c3c;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#tray{
	padding: 0px 5px;
	transition: all .3s ease; 

}
#tray menu * {
	padding: 0px 5px;
	transition: all .3s ease; 
}

#tray menu separator {
	padding: 0px 5px;
	transition: all .3s ease; 
}
