* {
font-family: "jetbrainsMono Nerd Font", monospace;
font-size: 13px;
}

window#waybar {
  background-color: transparent;
  color: #DADADA;
}

#tags {
  background-color: rgba(30, 40, 60, 0.8);
  border-radius: 8px;
  padding: 3px 0px;
  margin: 1 1px;
}

#tags button {
  all: unset;
  font-size: 12px;
  margin: 2px 3px;
  border-radius: 5px;
  background-color: rgba(80, 80, 100, 0);
  color: rgba(100, 100, 100, 0.4);
  margin: 1px 2px; /* acts like gap */
  padding: 4px 4px;
  min-width: 20px;
  transition: all 100ms ease; 
}

/* Hover effect */
#tags button:hover {
  background-color: rgba(120, 120, 160, 0.8);
  color: #ffffff;
}

/* Focused tag: slightly larger & more vibrant */
#tags button.focused {
  font-weight: bold;
  background-color: #7094D7;
  color: #fbfbfb;
}

/* Occupied */
#tags button.occupied {
  background-color: #4472Ca;
  color: #fbfbfb;
}

/* Urgent (overrides others) */
#tags button.urgent {
  background-color: #ff0070;
  color: #1e1e2e;
}

#clock,
#pulseaudio,
#network,
#battery,
#tray {
  background-color: rgba(30, 40, 60, 0.8);
  margin: 2px 3px;
  border-radius: 8px;
  padding: 1px 8px;
}
