* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 12px;
}

window#waybar {
  background: transparent;
  color: #dadada;
}

#hyprland {
  background-color: rgba(0,0,0,1);
  color: #000000;
  padding: 0px 5px;
  margin: 0px 5px;
}

#hyprland button {
  background-color: rgba(0,0,0,1);
  padding: 0px 5px;
  color: #000000;
  margin: 0px 5px;
}

#hyprland:hover {
	background-color: rgba(0,0,0,1);
	color: #000000;
}

#clock,
#pulseaudio,
#network,
#battery {
  background-color: rgba(0,0,0,1);
  padding: 0px 10px;
  margin: 0px 5px;
  border-radius: 10px;
}
